= image_tag (@recipe.image_url)  if @recipe.image?
%h1= @recipe.title
%p= @recipe.description

=link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary" 
|
=link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" 

%br/
%br
=link_to 'Back', root_path, class: "btn btn-default"